*{
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(177, 205, 243);
}
.container{
    text-align: center;
    padding: .4em 1em;
}

ul{
    list-style-type: none;
}

.logo img{
    width: 75px;
}

.hide-mobile {
    display: none;
}
.exit{
    width: 20px;
}
.logo{ 
    text-align: left;
    font-size: 2em;
    display: flex;
    flex-direction: column-reverse;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.big_image{
    position: absolute;
    width: 58%;
    top: 13px;
    left: 200px;
}

.menu{
    margin-top: 40%;
    width: 35px;

}  

.globe{
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}
.header-text h1{
    margin-top: 32%;
}

.subhead{
    font-size: 2em;
}

.grey-container{
    background-color:rgb(58, 59, 59);
    color: whitesmoke;
    margin-top: 50px;
    padding: 4em 0 2em;
    transform: skewY(-1deg);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
}

.blue-container{
    background: red;
    padding: 4em 0 2em;
    margin-top: -3%;
}

