ul{
    list-style-type: none;
    display: inline;
}

.logo img{
    margin: 0;
    width: 75px;
}

.hide-mobile {
    display: none;
}

.logo{ 
    text-align: left;
    font-size: 2em;
    display: flex;
    flex-direction: column-reverse;
}
header{
    display: flex;
    justify-content: space-between;
}

.menu{
    margin-top: 40%;
    width: 35px;
    margin: 1em;
}
nav ul li a{
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 1em 1.5em;
    background: rgb(58, 59, 59);
}

nav ul li a:hover{
    background: #4d4b64;
}
@media only screen and (min-width:1024px){
    
    .show-desktop{
        display: block;
        margin: 0 auto 13% auto;
    }
    
    nav ul{
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }
    

    nav ul li{
        float: left;
    }

    nav ul li a{
        color: black;
        background: inherit;
    }

    nav ul li a:hover{
        background: inherit;
    }
    
    .grey-container{
        padding: 4em 0;
    }
    .grey-container ul{
        display: flex;
    }
    .blue-container ul{
        display: flex;
        justify-content: center;
    }
    .blue-container ul li{
        margin-left: 3em;
    }
     .hide-desktop{
        display: none;
    }
    
    .cta{
        font-size: 2em;
        width: 50%; 
    }
}


@media only screen and (min-width: 1800px){
    section{
        flex-direction: row;
        margin-bottom: -10%;
    }
    .header-text{
        position: absolute;
        font-size: 1.8em;
        top: 40%;
        left: 20%;
        text-align: left;
        transform: translateY(-50%);
    }
    .exit{
        display: none;
    }
    .big_image{
        width: 500px;
    }
